.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 57%
    right: 23%
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 55%
    right: 38%


@keyframes float1
  0%
    transform: translateY(20px)

  100%
    transform: translateY(0px)


div.formulas img
    display: block
    margin-left: auto
    margin-right: auto
    width: auto